[submodule "lerobot"]
	path = lerobot
	url = git@github.com/:uggingface/lerobot.git
[submodule "stretch_mujoco"]
	path = stretch_mujoco
	url = git@github.com:hello-robot/stretch_mujoco.git
[submodule "robocasa"]
	path = robocasa
	url = git@github.com:robocasa/robocasa.git
[submodule "robosuite"]
	path = robosuite
	url = git@github.com:/ARISE-Initiative/robosuite.git
