[submodule "lerobot"]
	path = lerobot
	url = git@github.com:PeterMitrano/lerobot.git
[submodule "stretch_mujoco"]
	path = stretch_mujoco
	url = git@github.com:PeterMitrano/stretch_mujoco.git
[submodule "robocasa"]
	path = robocasa
	url = git@github.com:PeterMitrano/robocasa.git
[submodule "robosuite"]
	path = robosuite
	url = git@github.com:PeterMitrano/robosuite.git
